{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start"> Symbol </th>
                <th class="text-start"> Name </th>
                <th class="text-start"> Shares </th>
                <th class="text-start"> Price </th>
                <th class="text-start"> TOTAL </th>
            </tr>
        </thead>
        <tbody>
            {% for i in range(0, len) %}
            <tr>
                <td class="text-start"> {{ symbols[i] }} </td>
                <td class="text-start"> {{ shares[i] }} </td>
                <td class="text-start"> {{ sumnums[i] }} </td>
                <td class="text-start"> {{ prices[i] }} </td>
                <td class="text-start"> {{ total1[i] }} </td>
            {% endfor %}
            </tr>

        </tbody>
        <tfoot>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="4"> Cash </td>
                <td class="border-0 text-end"> {{ money_owned }} </td>
            </tr>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="4">TOTAL</td>
                <td class="border-0 w-bold text-end"> {{ total2 }}</td>
            </tr>
        </tfoot>
    </table>
{% endblock %}